/////////////////////////////////////////////////
/* DECLARANDO VARIABLES */
////////////////////////////////////////////////

$principal: rgb(240, 215, 171);
$principalDark: rgb(0, 0, 0);

$secundario: rgb(235, 174, 68);
$secundarioDark: rgb(140, 138, 158);

$boton: rgb(219, 105, 12);
$botonDark: rgb(84, 115, 155);
body{
    background-color: $principal;
}